name: Build & Push Docker Image

on:
  push:
    branches:
      - main

permissions:
  contents: write   # REQUIRED to push back to repo

env:
  IMAGE_NAME: rahulbohra57/healthifyme-app

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          docker build -t $IMAGE_NAME:$IMAGE_TAG .
          docker push $IMAGE_NAME:$IMAGE_TAG
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Update Helm values.yaml
        run: |
          sed -i "s/^  tag:.*/  tag: ${IMAGE_TAG}/" helm/healthifyme/values.yaml

      - name: Commit and push Helm update
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add helm/healthifyme/values.yaml
          git commit -m "chore: update image tag to ${IMAGE_TAG}"
          git push